{% extends "layouts/layouts.html" %} {% block content%}

<h3>About</h3>
<hr>

<strong>Thank you for Contributing to Our Project</strong>
<br>
<br>
<div class="text-center">
    <p>This Project is aimed at building an NLP software between English and PidginEnglish</p>
    <!-- <div id="anime-card">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header bg-info">English Sentence</div>
            <div class="card-body text-info text-center font-weight-bold">
                <p class="card-text">{{ text }}
                </p>
            </div>
        </div> -->
</div>

</div>

{% endblock %}