{% extends "layouts/layouts.html" %} {% block content%}

<h3>About</h3>
<hr>

<strong>Thank you for Contributing to This Project</strong>
<br>
<br>
<div class="text-center" style="font-size:large;">
    <p style="font-family: monospace;">This Project is aimed at developing an <abbr title="Natural Language Processing">NLP</abbr> Sytem for Pidgin English translation.</p>
    <br>
    <span>Because of your support, we are going to have realtime translation from any language to our old school Pidgin
        English, and also be able to translate Pidgin back to any other language.</span> <br>
    <small>With hope that, everything goes right :)</small>
</div>

{% endblock %}