{% extends "layouts/lay_demo.html" %} {% block content%}
<br><br><br> 
<br><br><br> 
<h3>Contact</h3>
<hr>

<strong class="text-center">You can always reach out for suggestions or anything.</strong>
<br>
<br>
<div class="text-center">
    <p style="font-family: monospace;">
    Leave a Mail at <a href="mailto:support@pidgin-english.tech">support@pidgin-english.tech</a>
    </p>
    <button class="btn btn-lg btn-primary">
            <a  id="share" href="whatsapp://send?text=The text to share!" data-action="share/whatsapp/share" style="color:white;">Share on Whatsapp</a></button>

</div>

{% endblock %}