{% extends "layouts/layouts.html" %} {% block content%}

<h3>Translated</h3>
<hr>

<strong>List of Translated Sentences</strong> &nbsp;
<span><button type="button" disabled class="btn btn-primary">
        Translated Phrases <span class="badge bg-warning">{{count}}</span>
</button>
</span>
<br>
<br>
<div class="text-center container-fluid">
    <table class="table table-hover">
        <thead class="table-info">
            <tr>
                <th scope="col">#</th>
                <th scope="col">English</th>
                <th scope="col">Pidgin</th>
                <th scope="col">Person</th>
            </tr>
        </thead>
        <tbody id="displayTranslate">
            {% for tran in translates %}
            <tr>
                <td scope="row">{{loop.index}}</td>
                <td>{{tran.english}}</td>
                <td>{{tran.pidgin}}</td>
                <td>{{tran.user["name"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}