<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pidgin English | NLP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pidgin English | NLP</title>
    <meta name="description" content="Translate languages to Pidgin">
    <meta name="keywords" content="Pidgin, Translate, NLP">
    <meta name="author" content="@Rodriiqq">
    <meta name="theme-color" content="#0dcaf0">

    <meta property="og:site_name" content="Pidgin English | NLP">
    <meta property="og:title" content="Native Translation made Easy" />
    <meta property="og:image" itemprop="image" content="{{url_for('static', filename = 'images/logo1.jpg')}}">

    <!-- No need to change anything here -->
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/jpeg">

    <!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">

    <!-- Website to visit when clicked in fb or WhatsApp-->
    <meta property="og:url" content="http://neon.ly/pidgin-english">

    <!-- Apple Meta tags -->
    <meta name="apple-mobile-web-app-title" content="PidginEnglish">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- <meta property="og:image" content=/> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename = 'images/icons/apple-touch-icon.png')}}">
    <link rel="apple-touch-startup-image" href="{{url_for('static', filename = 'images/icons/apple_launch.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename = 'images/icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename = 'images/icons/favicon-16x16.png')}}">
    <!-- <link rel="manifest" href="{{url_for('static', filename = 'images/icons/site.webmanifest')}}"> -->

    <!-- PWA Features -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}" />

    <!-- Favicons -->
    <link href="../../static/assets/img/favicon.png" rel="icon">
    <link href="../../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Arsha - v4.2.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top " style="background-color: #37517e;">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="#">PidginEnglish</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="../../static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('index') }}">Contribute</a>
                    </li>
                    <!-- <li class="nav-item">
                                                    <a class="nav-link active" href="{{ url_for('translated') }}">Translated Leaderboard</a>
                                                </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('rate') }}">Rate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('try_model') }}"><button
                                class="btn btn-secondary">Translate</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">Remark</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>


        </div>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        </div>

    </header>
    <div class="text-center">

        {% block content %}{% endblock %}
    </div>

    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Newsletter</h4>
                        <p>Stay updated with news about PidginEnglish</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="installModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Install App</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body center">
                        <h3><button type="button" class="btn btn-primary" href="#" id="installButton">Install
                                PidginEnglish</button>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>PidginEnglish</h3>
                        <p>
                            HIVC <br> Molyko, Buea<br> Cameroon <br><br>
                            <strong>Phone:</strong> +237 678 769 140<br>
                            <strong>Email:</strong> support@pidgin-english.tech<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Translation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Crypto Earning</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Learning</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contributing</a></li>
                            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>See what's up on our socials</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-tiktok">Tk</i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>PidginEnglish</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../../static/assets/vendor/aos/aos.js"></script>
    <script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../../static/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="../../static/assets/js/main.js"></script>

    <script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/manipulate.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/rating.js')}}"></script>


</body>

</html>