<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}" />
    <title>PidginEnglish</title>
</head>

<body>
    <!-- <div class="sidebar">
        <a class="active" href="#">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div> -->

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm col-1">
            </div>
            <div class="col-sm col-9">
                <br> {% block content %}{% endblock %}
            </div>
            <div class="col-sm col-2">
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/manipulate.js')}}"></script>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-firestore.js"></script>

    <script>
        // // Your web app's Firebase configuration
        // // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        // var firebaseConfig = {
        //     apiKey: "AIzaSyA6B2WbaEKlLwR1BVX5oUK7CqyxnyzMf-A",
        //     authDomain: "pidgin-english.firebaseapp.com",
        //     databaseURL: "https://pidgin-english-default-rtdb.firebaseio.com",
        //     projectId: "pidgin-english",
        //     storageBucket: "pidgin-english.appspot.com",
        //     messagingSenderId: "669992210576",
        //     appId: "1:669992210576:web:61e815c3530eb0706e4815",
        //     measurementId: "G-XZFY9QGPJT"
        // };
        // // Initialize Firebase
        // firebase.initializeApp(firebaseConfig);
        // firebase.analytics();
    </script>
    I</body>

</html>