<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Pidgin English | NLP</title>
    <meta name="description" content="Translate languages to Pidgin">
    <meta name="keywords" content="Pidgin, Translate, NLP">
    <meta name="author" content="@Rodriiqq">

    <meta property="og:site_name" content="Pidgin English | NLP">
    <meta property="og:title" content="Native Translation made Easy" />
    <meta property="og:image" itemprop="image" content="{{url_for('static', filename = 'images/logo1.jpg')}}">

    <!-- No need to change anything here -->
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/jpeg">

    <!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">

    <!-- Website to visit when clicked in fb or WhatsApp-->
    <meta property="og:url" content="http://pidgin-english.tech">

    <!-- <meta property="og:image" content=/> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename = 'images/icons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename = 'images/icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename = 'images/icons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename = 'images/icons/site.webmanifest')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}" />
</head>

<body>
    <!-- <div class="sidebar">
        <a class="active" href="#">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div> -->

    <ul class="nav justify-content-end" id="nav1">
        <image id="logoImage" width="50px" height="50px" src="{{url_for('static', filename = 'images/logo.png')}}">
        </image>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('translated') }}">Translated Leaderboard</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('rate') }}">Rate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('try_model') }}"><button class="btn btn-secondary">Try It</button></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm col-1">
            </div>
            <div class="col-sm col-9">
                <br> {% block content %}{% endblock %}
            </div>
            <div class="col-sm col-2">
            </div>
        </div>
    </div>
    <div style="height: 120px;">

    </div>
    <div class="add position-sticky footer-bottom">
        <footer>
            <div class="copyright">
                <p>&copy 2021 - Pidgin - English | <a style="text-decoration:none; color:rgb(245, 233, 210);" href="rodriq.me">Rodriiqq</a></p>
            </div>
            <div class="social">
                <a id="support" href="mailto:support@pidgin-english.tech" class="support">Contact</a>
                <a href="http://twitter.com/rodriiqq" class="tweet">t</a>
                <a href="https://www.tiktok.com/@rodriiqq?lang=en" class="face">Tk</a>
                <a href="http://instagram.com/rodriiqq.photography" class="linked">ig</a>

            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename = 'js/jquery.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/manipulate.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/rating.js')}}"></script>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
</body>

</html>