    body {
        margin: 0;
        font-family: "Lato", sans-serif;
    }
    
    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
    
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }
    
    .sidebar a.active {
        background-color: #097567;
        color: white;
    }
    
    .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
    /* .anime-card {
        -webkit-animation: bounceIn 2s;
    } */
    
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
            transform: translate3d(-120%);
        }
        100% {
            transform: translateX(0);
            transform: translate3d(0);
        }
    }
    
    #anime-card {
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    
    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }
    
    @media screen and (max-width: 700px) {
        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
        }
        .sidebar a {
            float: left;
        }
        div.content {
            margin-left: 0;
        }
    }
    
    @media screen and (max-width: 400px) {
        .sidebar a {
            text-align: center;
            float: none;
        }
    }